USE VietSportDB;
GO

-- =====================================================
-- TÌNH HUỐNG 10: DIRTY READ
-- Mô tả: Kỹ thuật đang cập nhật bảo trì sân (chưa commit).
--        Quản lý vào xem thấy dữ liệu dở dang, không chính xác.
-- =====================================================

-- =====================================================
-- PHẦN 1: SETUP DỮ LIỆU (Mock Data)
-- =====================================================

-- 1. Tạo Cơ Sở
IF NOT EXISTS (SELECT * FROM CoSo WHERE MaCoSo = 'CS_HCM01')
    INSERT INTO CoSo (MaCoSo, TenCoSo, DiaChi, ThanhPho) VALUES ('CS_HCM01', N'VietSport Quận 1', N'123 Nguyễn Huệ', N'HCM');

-- 2. Tạo Sân SAN_TH10
IF NOT EXISTS (SELECT * FROM SanTheThao WHERE MaSan = 'SAN_TH10')
BEGIN
    INSERT INTO SanTheThao (MaSan, MaCoSo, LoaiSan, SucChua, TinhTrang, GhiChu)
    VALUES ('SAN_TH10', 'CS_HCM01', N'Cầu lông', 4, N'Còn trống', N'Sân test tình huống 10');
END
ELSE
BEGIN
    -- Reset trạng thái về Còn trống
    UPDATE SanTheThao SET TinhTrang = N'Còn trống', GhiChu = NULL WHERE MaSan = 'SAN_TH10';
END
GO

-- =====================================================
-- PHẦN 2: STORED PROCEDURES - PHIÊN BẢN LỖI
-- =====================================================

-- T1 (Kỹ thuật): Cập nhật bảo trì sân (Chưa Commit ngay)
CREATE OR ALTER PROCEDURE sp_CapNhatBaoTriSan
    @MaSan VARCHAR(10),
    @KetQua NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN;
        -- Update trạng thái
        UPDATE SanTheThao
        SET TinhTrang = N'Bảo trì',
            GhiChu = N'Đang bảo trì - Cập nhật lúc ' + CONVERT(NVARCHAR, GETDATE(), 120)
        WHERE MaSan = @MaSan;

        -- MÔ PHỎNG: Chưa commit, delay 10s để T2 đọc thấy Dirty Data
        WAITFOR DELAY '00:00:10';

        -- Sau 10s thì ROLLBACK (để chứng minh T2 đã đọc dữ liệu SAI)
        ROLLBACK; 
        SET @KetQua = N'[ROLLBACK] Đã hủy cập nhật sân ' + @MaSan + N' - Sân vẫn ở trạng thái cũ!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO

-- T2 (Quản lý): Xem thông tin sân - PHIÊN BẢN LỖI (READ UNCOMMITTED)
CREATE OR ALTER PROCEDURE sp_XemThongTinSan_CoLoi
    @MaCoSo VARCHAR(10),
    @KetQua NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- SỬ DỤNG READ UNCOMMITTED - SẼ ĐỌC ĐƯỢC DỮ LIỆU CHƯA COMMIT
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    BEGIN TRY
        BEGIN TRAN;
        -- Đọc dữ liệu - có thể đọc được dữ liệu chưa commit từ T1
        SELECT MaSan, LoaiSan, TinhTrang, GhiChu
        FROM SanTheThao
        WHERE MaCoSo = @MaCoSo;

        SET @KetQua = N'Đã đọc thông tin sân (CÓ THỂ LÀ DIRTY DATA!)';
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
    
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;
END;
GO

-- =====================================================
-- PHẦN 3: STORED PROCEDURES - PHIÊN BẢN FIX
-- =====================================================

-- T2 (Quản lý): Xem thông tin sân - PHIÊN BẢN FIX (READ COMMITTED)
CREATE OR ALTER PROCEDURE sp_XemThongTinSan_AnToan
    @MaCoSo NVARCHAR(10),
    @KetQua NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    -- Giải pháp: Chỉ đọc dữ liệu đã Commit
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN
            
            -- Đọc thông tin (Xin khóa Shared Lock)
            -- Nếu dòng này đang bị T1 giữ khóa X (đang Update), lệnh này sẽ đợi.
            SELECT MaSan, LoaiSan, TinhTrang, GhiChu
            FROM SanTheThao
            WHERE MaCoSo = @MaCoSo;

            SET @KetQua = N'Đã đọc thông tin sân (Clean Data - đã commit).';

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO

-- Kỹ thuật cập nhật bảo trì - Giữ Exclusive Lock (Demo với COMMIT)
CREATE OR ALTER PROCEDURE sp_CapNhatBaoTriSan_Demo
    @MaSan VARCHAR(10),
    @TinhTrangMoi NVARCHAR(50),
    @GhiChu NVARCHAR(500),
    @KetQua NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN;
        
        -- Update trạng thái - Giữ Exclusive Lock (X)
        -- Nếu Quản lý đang SELECT (READ COMMITTED), họ sẽ CHỜ cho đến khi COMMIT/ROLLBACK
        UPDATE SanTheThao
        SET TinhTrang = @TinhTrangMoi,
            GhiChu = @GhiChu
        WHERE MaSan = @MaSan;

        -- Giả lập delay để demo (Quản lý sẽ bị block trong thời gian này)
        WAITFOR DELAY '00:00:10';

        COMMIT TRAN;
        SET @KetQua = N'Đã cập nhật sân ' + @MaSan + N' thành: ' + @TinhTrangMoi;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO

-- Demo ROLLBACK - Gây Dirty Read nếu dùng READ UNCOMMITTED
CREATE OR ALTER PROCEDURE sp_CapNhatBaoTriSan_DemoRollback
    @MaSan VARCHAR(10),
    @KetQua NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN;
        
        -- Update trạng thái thành Bảo trì
        UPDATE SanTheThao
        SET TinhTrang = N'Bảo trì',
            GhiChu = N'Đang bảo trì - Cập nhật lúc ' + CONVERT(NVARCHAR, GETDATE(), 120)
        WHERE MaSan = @MaSan;

        -- Delay 10s - Nếu T2 dùng READ UNCOMMITTED sẽ thấy "Bảo trì" (Dirty Data)
        -- Nếu T2 dùng READ COMMITTED sẽ phải CHỜ
        WAITFOR DELAY '00:00:10';

        -- ROLLBACK - Hủy bỏ thay đổi
        ROLLBACK TRAN; 
        SET @KetQua = N'[ROLLBACK] Đã hủy cập nhật sân ' + @MaSan + N' - Sân vẫn ở trạng thái cũ!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO

PRINT N'=== SCENARIO 10: DIRTY READ ==='
PRINT N'- sp_CapNhatBaoTriSan: Kỹ thuật cập nhật (ROLLBACK sau 10s)'
PRINT N'- sp_XemThongTinSan_CoLoi: Quản lý xem (READ UNCOMMITTED - PHIÊN BẢN LỖI)'
PRINT N'- sp_XemThongTinSan_AnToan: Quản lý xem (READ COMMITTED - PHIÊN BẢN FIX)'
PRINT N'- sp_CapNhatBaoTriSan_Demo: Kỹ thuật cập nhật (COMMIT sau 10s)'
PRINT N'- sp_CapNhatBaoTriSan_DemoRollback: Kỹ thuật cập nhật (ROLLBACK sau 10s)'
GO
