USE VietSportDB;
GO

-- =====================================================
-- TÌNH HUỐNG 9: NON-REPEATABLE READ
-- Mô tả: Khách H (Platinum) thấy giảm 20%. Quản lý đổi thành 15%.
--        Khi H thanh toán, giá bị tính là 15% khác với lúc xem.
-- =====================================================

-- =====================================================
-- PHẦN 1: SETUP DỮ LIỆU (Mock Data)
-- =====================================================

-- 1. Tạo bảng ChinhSachGiamGia
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'ChinhSachGiamGia')
BEGIN
    CREATE TABLE ChinhSachGiamGia (
        MaChinhSach INT IDENTITY(1,1) PRIMARY KEY,
        HangTV NVARCHAR(20) NOT NULL UNIQUE CHECK (HangTV IN ('Standard', 'Silver', 'Gold', 'Platinum')),
        GiamGia DECIMAL(5,2) NOT NULL CHECK (GiamGia >= 0 AND GiamGia <= 100),
        NgayCapNhat DATETIME DEFAULT GETDATE()
    );
END

-- 2. Reset Chính Sách
DELETE FROM ChinhSachGiamGia;
INSERT INTO ChinhSachGiamGia (HangTV, GiamGia) VALUES
('Standard', 0), ('Silver', 5), ('Gold', 10), ('Platinum', 15);
GO

-- 3. Tạo Khách Hàng H (Platinum)
IF NOT EXISTS (SELECT * FROM KhachHang WHERE MaKhachHang = 'KH_H')
BEGIN
    INSERT INTO KhachHang (MaKhachHang, HoTen, NgaySinh, SoDienThoai, Email, CapBacThanhVien, CMND, GioiTinh)
    VALUES ('KH_H', N'Nguyễn Văn H', '1990-05-15', '0901234567', 'khachhang.h@gmail.com', 'Platinum', '079090001234', N'Nam');
END

-- 4. Tạo Cơ Sở và Sân
IF NOT EXISTS (SELECT * FROM CoSo WHERE MaCoSo = 'CS_HCM01')
    INSERT INTO CoSo (MaCoSo, TenCoSo, DiaChi, ThanhPho) VALUES ('CS_HCM01', N'VietSport Quận 1', N'123 Nguyễn Huệ', N'HCM');

IF NOT EXISTS (SELECT * FROM SanTheThao WHERE MaSan = 'SAN01')
    INSERT INTO SanTheThao (MaSan, MaCoSo, LoaiSan, SucChua, TinhTrang, GhiChu)
    VALUES ('SAN01', 'CS_HCM01', N'Bóng đá mini', 10, N'Còn trống', N'Sân bóng đá mini số 1');

-- 5. Tạo Phiếu Đặt PDS_TH9
DELETE FROM PhieuDatSan WHERE MaPhieuDat = 'PDS_TH9';
INSERT INTO PhieuDatSan (MaPhieuDat, MaKhachHang, MaSan, MaNhanVien, GioBatDau, GioKetThuc, TrangThaiThanhToan, KenhDat)
VALUES ('PDS_TH9', 'KH_H', 'SAN01', NULL, DATEADD(HOUR, 14, GETDATE()), DATEADD(HOUR, 16, GETDATE()), N'Chưa thanh toán', 'Online');
GO

-- =====================================================
-- PHẦN 2: BẢNG KHÓA PHIÊN (Session Lock)
-- =====================================================

-- Tạo bảng khóa phiên làm việc
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'SessionLock')
BEGIN
    CREATE TABLE SessionLock (
        LockName NVARCHAR(50) PRIMARY KEY,
        LockedBy NVARCHAR(100),
        LockedAt DATETIME DEFAULT GETDATE(),
        ExpiresAt DATETIME
    );
END
GO

-- =====================================================
-- PHẦN 3: STORED PROCEDURES - PHIÊN BẢN LỖI
-- =====================================================

-- T1 (Admin): Cập nhật chính sách giá
CREATE OR ALTER PROCEDURE sp_CapNhatChinhSachGia
    @HangTV NVARCHAR(20),
    @MucGiamMoi DECIMAL(5,2),
    @KetQua NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN;
        UPDATE ChinhSachGiamGia
        SET GiamGia = @MucGiamMoi,
            NgayCapNhat = GETDATE()
        WHERE HangTV = @HangTV;
        COMMIT;
        SET @KetQua = N'Đã cập nhật giảm giá ' + @HangTV + N' thành ' + CAST(@MucGiamMoi AS NVARCHAR) + N'%';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO

-- T2 (Thu ngân): Thanh toán đơn hàng - PHIÊN BẢN LỖI (READ COMMITTED)
CREATE OR ALTER PROCEDURE sp_ThanhToanDonHang_CoLoi
    @MaKH VARCHAR(10),
    @MaPhieuDat VARCHAR(10),
    @KetQua NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @HangTV NVARCHAR(20);
    DECLARE @GiamGia1 DECIMAL(5,2);
    DECLARE @GiamGia2 DECIMAL(5,2);
    DECLARE @TongTienGoc DECIMAL(10,2) = 500000;
    DECLARE @TongTienSauGiam DECIMAL(10,2);

    -- SỬ DỤNG READ COMMITTED (default) - SẼ BỊ LỖI NON-REPEATABLE READ
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN;
        SELECT @HangTV = CapBacThanhVien FROM KhachHang WHERE MaKhachHang = @MaKH;

        -- LẦN ĐỌC 1
        SELECT @GiamGia1 = GiamGia FROM ChinhSachGiamGia WHERE HangTV = @HangTV;
        
        -- MÔ PHỎNG: Khách đang xem lại hóa đơn (10 giây) - Lúc này T1 chen vào update
        WAITFOR DELAY '00:00:10';

        -- LẦN ĐỌC 2
        SELECT @GiamGia2 = GiamGia FROM ChinhSachGiamGia WHERE HangTV = @HangTV;

        SET @TongTienSauGiam = @TongTienGoc * (100 - @GiamGia2) / 100;

        IF @GiamGia1 <> @GiamGia2
             SET @KetQua = N'LỖI NON-REPEATABLE READ! Lần 1: ' + CAST(@GiamGia1 AS NVARCHAR) + N'%, Lần 2: ' + CAST(@GiamGia2 AS NVARCHAR) + N'%';
        ELSE
             SET @KetQua = N'Thanh toán thành công. Giảm: ' + CAST(@GiamGia2 AS NVARCHAR) + N'%';

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO

-- =====================================================
-- PHẦN 4: STORED PROCEDURES - PHIÊN BẢN FIX
-- =====================================================

-- Thu ngân bắt đầu tính tiền → Khóa trang Giảm giá
CREATE OR ALTER PROCEDURE sp_LockDiscountPolicy
    @MaNV NVARCHAR(50),
    @KetQua NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Xóa các lock đã hết hạn (quá 60 giây)
    DELETE FROM SessionLock WHERE ExpiresAt < GETDATE();
    
    -- Kiểm tra xem đã có ai khóa chưa
    IF EXISTS (SELECT 1 FROM SessionLock WHERE LockName = 'DiscountPolicy')
    BEGIN
        SET @KetQua = N'Đã có người khác đang sử dụng';
    END
    ELSE
    BEGIN
        -- Tạo lock mới (hết hạn sau 60 giây)
        INSERT INTO SessionLock (LockName, LockedBy, LockedAt, ExpiresAt)
        VALUES ('DiscountPolicy', @MaNV, GETDATE(), DATEADD(SECOND, 60, GETDATE()));
        
        SET @KetQua = N'Đã khóa thành công';
    END
END;
GO

-- Thu ngân thanh toán xong → Mở khóa
CREATE OR ALTER PROCEDURE sp_UnlockDiscountPolicy
    @MaNV NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM SessionLock WHERE LockName = 'DiscountPolicy' AND LockedBy = @MaNV;
END;
GO

-- Admin kiểm tra có bị khóa không
CREATE OR ALTER PROCEDURE sp_CheckDiscountPolicyLock
    @IsLocked BIT OUTPUT,
    @LockedBy NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Xóa các lock đã hết hạn
    DELETE FROM SessionLock WHERE ExpiresAt < GETDATE();
    
    -- Kiểm tra lock
    IF EXISTS (SELECT 1 FROM SessionLock WHERE LockName = 'DiscountPolicy')
    BEGIN
        SELECT @IsLocked = 1, @LockedBy = LockedBy 
        FROM SessionLock WHERE LockName = 'DiscountPolicy';
    END
    ELSE
    BEGIN
        SET @IsLocked = 0;
        SET @LockedBy = NULL;
    END
END;
GO

-- Thanh toán an toàn với Lock UI (giữ lock trong suốt quá trình)
CREATE OR ALTER PROCEDURE sp_ThanhToan_VoiLock
    @MaPhieu NVARCHAR(20),
    @TienKhachDua DECIMAL(18,2),
    @MaNV NVARCHAR(50),
    @KetQua NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL REPEATABLE READ;

    BEGIN TRY
        -- Tạo/gia hạn lock
        DELETE FROM SessionLock WHERE LockName = 'DiscountPolicy';
        INSERT INTO SessionLock (LockName, LockedBy, LockedAt, ExpiresAt)
        VALUES ('DiscountPolicy', @MaNV, GETDATE(), DATEADD(SECOND, 60, GETDATE()));

        BEGIN TRAN
            
            DECLARE @GiamGia DECIMAL(5,2);
            DECLARE @HangTV NVARCHAR(20);
            DECLARE @GiaGoc DECIMAL(18,2) = 500000;
            
            SELECT @GiamGia = c.GiamGia, @HangTV = k.CapBacThanhVien
            FROM PhieuDatSan p
            JOIN KhachHang k ON p.MaKhachHang = k.MaKhachHang
            JOIN ChinhSachGiamGia c ON k.CapBacThanhVien = c.HangTV
            WHERE p.MaPhieuDat = @MaPhieu;

            -- Delay 10s để demo (Admin sẽ không vào được trang Giảm giá trong thời gian này)
            WAITFOR DELAY '00:00:10';

            DECLARE @ThanhTien DECIMAL(18,2) = @GiaGoc * (100 - @GiamGia) / 100;

            UPDATE PhieuDatSan 
            SET TrangThaiThanhToan = N'Đã thanh toán'
            WHERE MaPhieuDat = @MaPhieu;

        COMMIT TRAN;
        
        -- Mở khóa sau khi xong
        DELETE FROM SessionLock WHERE LockName = 'DiscountPolicy' AND LockedBy = @MaNV;
        
        SET @KetQua = N'Thanh toán thành công! Giảm giá: ' + CAST(@GiamGia AS NVARCHAR) + N'%, Thành tiền: ' + CAST(@ThanhTien AS NVARCHAR) + N' VND';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DELETE FROM SessionLock WHERE LockName = 'DiscountPolicy' AND LockedBy = @MaNV;
        SET @KetQua = N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END;
GO

PRINT N'=== SCENARIO 9: NON-REPEATABLE READ ==='
PRINT N'- sp_CapNhatChinhSachGia: Admin cập nhật giảm giá'
PRINT N'- sp_ThanhToanDonHang_CoLoi: Thu ngân thanh toán (PHIÊN BẢN LỖI)'
PRINT N'- sp_LockDiscountPolicy: Khóa trang Giảm giá'
PRINT N'- sp_UnlockDiscountPolicy: Mở khóa trang Giảm giá'
PRINT N'- sp_CheckDiscountPolicyLock: Kiểm tra khóa'
PRINT N'- sp_ThanhToan_VoiLock: Thanh toán với Lock (PHIÊN BẢN FIX)'
GO
